/* Corners */
.pixel.North-East {
    background-image: url('../images/Walls/Corner-NE.png');
}
.pixel.North-West {
    background-image: url('../images/Walls/Corner-NW.png');
}
.pixel.South-East {
    background-image: url('../images/Walls/Corner-SE.png');
}
.pixel.South-West {
    background-image: url('../images/Walls/Corner-SW.png');
}

/* Edges */
.pixel.North {
    background-image: url('../images/Walls/Edge-N.png');
}
.pixel.South {
    background-image: url('../images/Walls/Edge-S.png');
}
.pixel.East {
    background-image: url('../images/Walls/Edge-E.png');
}
.pixel.West {
    background-image: url('../images/Walls/Edge-W.png');
}

/* Paths */
    /* Up */
    .pixel.Up-East.active {
        background-image: url('../images/Walls/Path-NE.png');
    }
    .pixel.Up-West.active {
        background-image: url('../images/Walls/Path-NW.png');
    }
    .pixel.North.active {
        background-image: unset;
    }

    /* Down */
    .pixel.Down-East.active {
        background-image: url('../images/Walls/Path-SE.png');
    }
    .pixel.Down-West.active {
        background-image: url('../images/Walls/Path-SW.png');
    }
    .pixel.South.active {
        background-image: unset;
    }

    /* Left */
    .pixel.Left-North.active {
        background-image: url('../images/Walls/Path-NW.png');
    }
    .pixel.Left-South.active {
        background-image: url('../images/Walls/Path-SW.png');
    }
    .pixel.West.active {
        background-image: unset;
    }
    
    /* Right */
    .pixel.Right-North.active {
        background-image: url('../images/Walls/Path-NE.png');
    }
    .pixel.Right-South.active {
        background-image: url('../images/Walls/Path-SE.png');
    }
    .pixel.East.active {
        background-image: unset;
    }