/* Cursor */
.pixel {
    cursor: default;
}

/* Middle */
.pixel.middle {
    background-image: url('../images/Floor/Tile.png');
}

/* Corners */
.pixel.North-East {
    background-image: url('../images/Walls/Top\ Right.png');
}
.pixel.North-West {
    background-image: url('../images/Walls/Top\ Left.png');
}
.pixel.South-East {
    background-image: url('../images/Walls/Bottom\ Right.png');
}
.pixel.South-West {
    background-image: url('../images/Walls/Bottom\ Left.png');
}

/* Edges */
.pixel.North {
    background-image: url('../images/Walls/Cap.png');
}
.pixel.South {
    background-image: url('../images/Walls/Cap.png');
}
.pixel.East {
    background-image: url('../images/Walls/Side.png');
}
.pixel.West {
    background-image: url('../images/Walls/Side.png');
}

/* Paths */
    /* Up */
    .pixel.North.active {
        background-image: url('../images/Floor/Tile.png');
    }
    .pixel.Up-East.active {
        background-image: url('../images/Walls/Cap\ Right.png') !important;
    }
    .pixel.Up-West.active {
        background-image: url('../images/Walls/Cap\ Left.png') !important;
    }

    /* Down */
    .pixel.South.active {
        background-image: url('../images/Floor/Tile.png');
    }
    .pixel.Down-East.active {
        background-image: url('../images/Walls/Cap\ Right.png') !important;
    }
    .pixel.Down-West.active {
        background-image: url('../images/Walls/Cap\ Left.png') !important;
    }

    /* Left */
    .pixel.West.active {
        background-image: url('../images/Floor/Tile.png');
    }
    .pixel.Left-North.active {
        background-image: url('../images/Walls/Side\ Top.png') !important;
    }
    .pixel.Left-South.active {
        background-image: url('../images/Walls/Side\ Bottom.png') !important;
    }
    
    /* Right */
    .pixel.East.active {
        background-image: url('../images/Floor/Tile.png');
    }
    .pixel.Right-North.active {
        background-image: url('../images/Walls/Side\ Top.png') !important;
    }
    .pixel.Right-South.active {
        background-image: url('../images/Walls/Side\ Bottom.png') !important;
    }