:root {
    --name:Discord Dark;
    --background:#202225;
    --surface:#36393F;
    --onSurface:#FFFFFF;
    --separator:#72767D;
    --primary:#6D81CF;
    --onPrimary:#FFFFFF;
    --primaryVariant:#BDC8F1;
    --green:#81CE55;
    --red:#FF7E7E;
}

body {
    overflow-x: hidden;
}

.title {
    text-align: center;
    line-height: 100px;
}

.pixel {
    height: 100px;
    width: 100px;
    border: none;
    margin: 0;
    padding: 0;
}
.pixel.middle {
    background-color: unset !important;
}
.pixel.up.active, .pixel.down.active, .pixel.left.active, .pixel.right.active {
    background-color: unset !important;
}

/* Colour Themes */
.pixel.dark {
    background-color: var(--onSurface);
}
.pixel.light {
    background-color: black;
}

body.dark {
    background-color: var(--background);
}
body.light {
    background-color: white;
}

div.dark, a.dark, h2.dark, button.dark {
    color: var(--onSurface) !important;
}
div.light, a.light, h2.light, button.light {
    color: black !important;
}