:root {
    --name:Discord Dark;
    --background:#202225;
    --surface:#36393F;
    --onSurface:#FFFFFF;
    --separator:#72767D;
    --primary:#6D81CF;
    --onPrimary:#FFFFFF;
    --primaryVariant:#BDC8F1;
    --green:#81CE55;
    --red:#FF7E7E;
}

body {
    overflow-x: hidden;
    background-color: var(--background);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--surface) #00000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #00000000;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--surface);
    border-radius: 10px;
    border: 3px solid var(--separator);
}

.pixel {
    height: 100px;
    width: 100px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: var(--onSurface);
    text-align: center;
    line-height: 100px;
}
.pixel.middle {
    background-color: unset !important;
}
.pixel.up.active, .pixel.down.active, .pixel.left.active, .pixel.right.active {
    background-color: unset !important;
}

div, a, h2, button {
    color: var(--onSurface) !important;
}

.item-modal .info-title {
    padding: 8px;
    min-width: 100px;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .3px;
    text-transform: uppercase;
    justify-content: center;
    background-color: var(--primary);
    color: var(--onPrimary);
    border-radius: 0.5em 0 0 0.5em;
}

.item-modal {
    margin: 60px 20px;
    height: calc(100vh - 120px);
    background-color: var(--surface);
}
.item-modal .info-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 102px;
}
.info-value {
    display: flex;
    flex-wrap: wrap;
}

.inventory-item, .equipped-item, .attack-button, .close-log-button {
    padding: 8px;
    margin: 0.5em;
    min-width: 100px;
    display: flex;
    align-items: center;
    font-size: 10px;
    border-radius: 0.25rem!important;
    border-width: 0;
    text-transform: uppercase;
    justify-content: center;
}
.inventory-item[itemCatagory="Armour"], .equipped-item[itemCatagory="Armour"] {
    background-color: var(--green);
}
.inventory-item[itemCatagory="Weapon"], .equipped-item[itemCatagory="Weapon"] {
    background-color: var(--red);
}
.attack-button, .close-log-button {
    background-color: crimson;
}

.item-modal .item-wrapper {
    padding: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.border-shadow {
    padding: 24px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

#infoLog span {
    width: 100%;
}

.item-modal .info-box {
    padding: 0;
    min-height: 61px;
    display: flex;
    overflow: hidden;
}
.item-modal .info-box:first-child {
    margin-top: 4px;
}
.item-modal .info-box:not(:last-child) {
    margin-bottom: 16px;
}

.tip-info {
    border: var(--separator) 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: var(--surface) no-repeat 100% 5%;
    color: var(--onSurface);
    left: 0px;
    margin-top: 1.5em!important;
    margin: 0.5em;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none;
}

.update-container, .adventure-container {
    background-color: rgba(0,0,0,0.75);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-log, .adventure-log {
    background-color: var(--surface);
    width: 60vw;
    max-height: 60vh;
    border-radius: 2em;
    border: double 3px var(--separator);
    display: flex;
    flex-direction: column;
    padding: 1em;
}

span.markdown-red {
    color: var(--bs-pink);
}
span.markdown-blue {
    color: var(--bs-blue);
}
span.markdown-green {
    color: var(--bs-teal);
}
span.markdown-italics {
    font-style: italic;
}