body {
    overflow-x: hidden;
}

.title {
    text-align: center;
    line-height: 100px;
}

.pixel {
    height: 100px;
    width: 100px;
    border: none;
    margin: 0;
    padding: 0;
}
.pixel.middle {
    background-color: unset !important;
}
.pixel.up.active, .pixel.down.active, .pixel.left.active, .pixel.right.active {
    background-color: unset !important;
}

/* Colour Themes */
.pixel.dark {
    background-color: white;
}
.pixel.light {
    background-color: black;
}

body.dark {
    background-color: black;
}
body.light {
    background-color: white;
}

div.dark, a.dark, h2.dark, button.dark {
    color: white !important;
}
div.light, a.light, h2.light, button.light {
    color: black !important;
}